/.metadata/
lib/.classpath
lib/.flattened-pom.xml
lib/.gitignore
lib/.project
lib/.settings/
riseserver/.classpath
riseserver/.gitignore
riseserver/.project
riseserver/.settings/.jsdtscope
riseserver/.settings/
Servers/.project
Servers/
.flattened-pom.xml
riseserver/scripts/.vscode/launch.json
configuration/riseLocalTESTConfig.json
configuration/rise_drought_plugin.json
