{
	"serverApiAddress": "{{ aoRiseConfiguration['baseUrl']['url'] }}/rise-api/api/",
	"logLevel": "INFO",
	"shellExecLocally": true,
	"mongoMain": {
		"address": "{{ aoWasdiConfiguration['mongoMain']['address'] }}",
		"dbName": "rise",
		"replicaName": "{{ aoWasdiConfiguration['mongoMain']['replicaName'] }}",
        "user": "{{ aoRiseConfiguration['mongoMain']['user'] }}",
        "password": "{{ aoRiseConfiguration['mongoMain']['password'] }}"
	},
	"notifications": {
		"mercuriusAPIAddress": "{{ aoWasdiConfiguration['notifications']['mercuriusAPIAddress'] }}",
		"riseAdminMail": "sysadmin@wasdi.cloud",
		"mailJetUser": "{{ aoRiseConfiguration['mailJet']['user'] }}",
		"mailJetPassword": "{{ aoRiseConfiguration['mailJet']['password'] }}"
	},
	"localizations": [
		{
			"languageCode": "EN",
			"translationsFilePath": "{{ aoRiseConfiguration['translations']['EN'] }}"
		},
		{
			"languageCode": "AR",
			"translationsFilePath": "{{ aoRiseConfiguration['translations']['AR'] }}"
		},
		{
			"languageCode": "FR",
			"translationsFilePath": "{{ aoRiseConfiguration['translations']['FR'] }}"
		},
		{
			"languageCode": "ES",
			"translationsFilePath": "{{ aoRiseConfiguration['translations']['ES'] }}"
		},
		{
			"languageCode": "IT",
			"translationsFilePath": "{{ aoRiseConfiguration['translations']['IT'] }}"
		}	
	],
	"security": {
		"maxConfirmationAgeSeconds": 604800,
		"maxPasswordAgeSeconds": 15552000,
		"minPwLenght": 8,
		"minUserIdLenght": 8,
		"mustMixUpperLowerCase": true,
		"mustContainNumber": true,
		"mustContainSymbol": true,
		"maxOTPAgeSeconds": 1800,
		"inviteConfirmAddress": "{{ aoRiseConfiguration['baseUrl']['url'] }}/user/confirm",
		"registerConfirmAddress": "{{ aoRiseConfiguration['baseUrl']['url'] }}/auth/confirm_adm",
		"changeEmailConfirm": "{{ aoRiseConfiguration['baseUrl']['url'] }}/user/confirm-change-email",
		"forgetPasswordConfirm" : "{{ aoRiseConfiguration['baseUrl']['url'] }}/confirm-forget-password"
	},
	"httpConfig": {
		"logHttpCalls": false,
		"readTimeout": 300,
		"connectionTimeout": 300
	},
	"wasdiConfig": {
		"wasdiBaseUrl": "https://www.wasdi.net/wasdiwebserver/rest",
		"wasdiUser": "{{ aoRiseConfiguration['wasdi']['user'] }}",
		"wasdiPassword": "{{ aoRiseConfiguration['wasdi']['password'] }}",
		"verbose": false,
		"printServerAddress":"https://main01.wasdi.net/print/wasdi"
	},
	"geoserver": {
        "address": "{{ aoWasdiConfiguration['geoserver']['address'] }}",
        "user": "{{ aoWasdiConfiguration['geoserver']['user'] }}",
        "password": "{{ aoWasdiConfiguration['geoserver']['password'] }}",
		"workspace": "rise"
	},
	"daemon": {
		"simulate": false,
		"newAreas": true,
		"updateNewMaps": true,
		"checkResults": true,
		"cleanLayers": true,
        "layersRetentionDays": 90
	},
	"stripe": {
		"apiKey": "{{ aoRiseConfiguration['stripe']['apiKey'] }}",
		"products": [
			{
				"id": "SUBTYPE_ONE",
				"url": "{{ aoRiseConfiguration['stripe']['subtype_one'] }}"
			},
			{
				"id": "SUBTYPE_THREE",
				"url": "{{ aoRiseConfiguration['stripe']['subtype_three'] }}"
			},
			{
				"id": "SUBTYPE_FIVE",
				"url": "{{ aoRiseConfiguration['stripe']['subtype_five'] }}"
			},
			{
				"id": "SUBTYPE_TEN",
				"url": "{{ aoRiseConfiguration['stripe']['subtype_ten'] }}"
			},
			{
				"id": "SUBTYPE_ONE_QUARTER",
				"url": "{{ aoRiseConfiguration['stripe']['subtype_one_quarter'] }}"
			},
			{
				"id": "SUBTYPE_THREE_QUARTER",
				"url": "{{ aoRiseConfiguration['stripe']['subtype_three_quarter'] }}"
			},
			{
				"id": "SUBTYPE_FIVE_QUARTER",
				"url": "{{ aoRiseConfiguration['stripe']['subtype_five_quarter'] }}"
			},
			{
				"id": "SUBTYPE_TEN_QUARTER",
				"url": "{{ aoRiseConfiguration['stripe']['subtype_ten_quarter'] }}"
			}									
		]
	},
	"paths": {
		"riseTempFolder":"/data/rise/tmp/",
		"downloadRootPath":"/data/wasdi/",
		"scriptsPath":"/home/appwasdi/scripts/",
		"pythonPath":"/home/appwasdi/venv/bin/python",
		"attachmentsBasePath": "/data/rise/attachments/"
	}
}
