{
	"maps": [
		{
			"id": "drought_ecostress",
			"params": {
				"BASENAME": "Rain",
				"BBOX": {},
				"SHAPEFILE": "",
				"DATEFROM": "2024-01-01",
				"DATETO": "2024-01-31",
				"CDS_API_Key": "{{sRiseCDSApiKey}}"
			},
			"processor": "rti_to_drought",
			"shortArchiveDaysBack": 0,
			"startArchiveDate": "2023-01-01",
			"style": "rise_modis_rti",
			"resolution": "0.1 deg × 0.1 deg",
			"dataSource": "MODIS",
			"inputData": "MODIS"
		}
	]
}