{
	"serverApiAddress": "rise.wasdi.net",
	"logLevel": "DEBUG",
	"shellExecLocally": true,
	"mongoMain": {
		"address": "{{ aoWasdiConfiguration['mongoMain']['address'] }}",
		"dbName": "rise",
		"replicaName": "{{ aoWasdiConfiguration['mongoMain']['replicaName'] }}",
        "user": "{{ aoRiseConfiguration['mongoMain']['user'] }}",
        "password": "{{ aoRiseConfiguration['mongoMain']['password'] }}"
	},
	"notifications": {
		"mercuriusAPIAddress": "{{ aoWasdiConfiguration['notifications']['mercuriusAPIAddress'] }}",
		"riseAdminMail": "sysadmin@wasdi.cloud",
		"mailJetUser": "{{ aoRiseConfiguration['mailJet']['user'] }}",
		"mailJetPassword": "{{ aoRiseConfiguration['mailJet']['password'] }}"
	},
	"localizations": [
		{
			"languageCode": "EN",
			"translationsFilePath": "{{ aoRiseConfiguration['translations']['EN'] }}"
		}
	],
	"security": {
		"maxConfirmationAgeSeconds": 86400,
		"maxPasswordAgeSeconds": 15552000,
		"minPwLenght": 8,
		"minUserIdLenght": 8,
		"mustMixUpperLowerCase": true,
		"mustContainNumber": true,
		"mustContainSymbol": true,
		"maxOTPAgeSeconds": 1800,
		"inviteConfirmAddress": "https://risetest.wasdi.net/user/confirm",
		"registerConfirmAddress": "https://risetest.wasdi.net/auth/confirm_adm",
		"changeEmailConfirm": "https://risetest.wasdi.net/user/confirm-change-email",
		"forgetPasswordConfirm" : "https://risetest.wasdi.net/user/confirm-forget-password"
	},
	"httpConfig": {
		"logHttpCalls": false,
		"readTimeout": 300,
		"connectionTimeout": 300
	},
	"wasdiConfig": {
		"wasdiBaseUrl": "https://www.wasdi.net/wasdiwebserver/rest",
		"wasdiUser": "{{ aoRiseConfiguration['wasdi']['user'] }}",
		"wasdiPassword": "{{ aoRiseConfiguration['wasdi']['password'] }}"
	},
	"geoserver": {
        "address": "{{ aoWasdiConfiguration['geoserver']['address'] }}",
        "user": "{{ aoWasdiConfiguration['geoserver']['user'] }}",
        "password": "{{ aoWasdiConfiguration['geoserver']['password'] }}",
		"workspace": "rise",
		"verbose": false
	},
	"daemon": {
		"simulate": false,
		"newAreas": true,
		"updateNewMaps": true,
		"checkResults": true,
		"cleanLayers": true,
        "layersRetentionDays": 90
	},
	"stripe": {
		"apiKey": "sk_test_51Mg8UfKhhULxWbPP4GUh8PwQCkmmgWdBSZljuVceiHta1PVDsehJNCqN8Lfxv9iUsAkTF7wG11YNDmQClfvcU91Y00h0VUntGk",
		"products": [
			{
				"id": "SUBTYPE_ONE",
				"url": "https://buy.stripe.com/test_00g7sx1tC9Om6LmbKJ"
			}
		]
	},
	"paths": {
		"riseTempFolder":"",
		"downloadRootPath":"/data/wasdi/",
		"scriptsPath":"/home/appwasdi/scripts"
	}
}
